<div class="row">
  <div class="col-6">
    <h1>Logged Bugs</h1>
  </div>
  <div class="col-6 text-right">
    <button 
      type="button"
      class="btn btn-success btn-lg" 
      [attr.data-target]=" '#' + bugDetail.modalId" 
      data-toggle="modal"
      (click)="bugDetail.freshForm()"
      (click)="bugDetail.canDelete = false">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add Bug
    </button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Status</th>
          <th>Severity</th>
          <th>Description</th>
          <th>Logged By</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bugRow"
          *ngFor="let bug of bugs" 
          [attr.data-target]=" '#' + bugDetail.modalId"
          data-toggle="modal"
          (click)="bugDetail.configureForm(bug)">
          <!-- Put this back when I figure out what it is and  how to use it[attr.data-target]=" '#' + bugDetail.modalId"-->
        <!-- data-target (Bootstrap) is like a click event.
            attr. is Angular.
            The click event solves the two way data binding problem.
        -->

          <td>{{ bug.title }}</td>
          <td>{{ bug.status | status }}</td><!--| status -->
          <td>{{ bug.severity | severity }}</td><!--| severity -->
          <td>{{ bug.description }}</td>
          <td>{{ bug.createdBy }}</td>
          <td>{{ bug.createdDate | date}}</td><!-- -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- #bugDetail = template reference vairiable -->
<app-bug-detail #bugDetail></app-bug-detail>