<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Status</th>
          <th>Severity</th>
          <th>Description</th>
          <th>Logged By</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bugRow"
          *ngFor="let bug of bugs" 
           
          data-toggle="modal"
          (click)="bugDetail.configureForm(bug)">
          <!-- Put this back when I figure out what it is and  how to use it[attr.data-target]=" '#' + bugDetail.modalId"-->
        <!-- data-target (Bootstrap) is like a click event.
            attr. is Angular.
            The click event solves the two way data binding problem.
        -->

          <td>{{ bug.title }}</td>
          <td>{{ bug.status }}</td><!--| status -->
          <td>{{ bug.severity }}</td><!--| severity -->
          <td>{{ bug.description }}</td>
          <td>{{ bug.createdBy }}</td>
          <td>{{ bug.createdDate | date}}</td><!-- -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- #bugDetail = template reference vairiable -->
<bug-detail #bugDetail></bug-detail>